@using BlazorChat.Client.Features.Servers.Dialogs.CreateCategory
@using BlazorChat.Client.Features.Servers.Dialogs.CreateChannel
@using BlazorChat.Client.Features.Servers.ViewModels
@using BlazorChat.Shared.Interfaces

<div class="channel-sidebar-header d-flex align-center justify-space-between px-4 py-2">
    <MudText Typo="Typo.subtitle1" Class="fw-bold">@Server.Name</MudText>
    <MudMenu Icon="@Icons.Material.Filled.KeyboardArrowDown" AnchorOrigin="Origin.BottomRight">
        <MudMenuItem OnClick="OpenCreateCategoryDialog" Icon="@Icons.Material.Filled.CreateNewFolder">Create Category</MudMenuItem>
        <MudMenuItem OnClick="@(() => OpenCreateChannelDialog())" Icon="@Icons.Material.Filled.AddCircle">Create Channel</MudMenuItem>
    </MudMenu>
</div>

<div class="channel-list">
    @if (ViewModel.IsLoading)
    {
        <div class="d-flex justify-center pa-4">
            <MudProgressCircular Color="Color.Primary" Indeterminate="true" Size="Size.Small" />
        </div>
    }
    else if (!ViewModel.Channels.Any() && !ViewModel.CategorizedGroups.Any())
    {
        <div class="channel-empty pa-4 text-center">No channels yet</div>
    }
    else
    {
        @foreach (var ch in ViewModel.RootChannels)
        {
            <SidebarChannelItem Channel="ch" ViewModel="ViewModel" OnDelete="ConfirmDelete" />
        }

        @foreach (var group in ViewModel.CategorizedGroups)
        {
            <div class="category-container">
                
                <SidebarCategoryHeader Category="group.Key" 
                                       ViewModel="ViewModel" 
                                       OnDelete="ConfirmDelete" 
                                       OnCreateChannel="OpenCreateChannelDialog" />

                @if (ViewModel.IsExpanded(group.Key.Id))
                {
                    @foreach (var ch in group)
                    {
                        <SidebarChannelItem Channel="ch" ViewModel="ViewModel" OnDelete="ConfirmDelete" />
                    }
                }
            </div>
        }
    }
</div>

@code
{
    [Inject] protected ServerChannelsViewModel ViewModel { get; set; } = null!;
    [Inject] protected IDialogService DialogService { get; set; } = null!;

    [Parameter, EditorRequired] public ServerDto Server { get; set; } = null!;

    protected override async Task OnParametersSetAsync() 
        => await ViewModel.InitializeAsync(Server.Id);

    protected override void OnInitialized()
    {
        ViewModel.StateChanged += OnViewModelStateChanged;
    }

    protected async Task OpenCreateChannelDialog(int? categoryId = null)
    {
        var parameters = new DialogParameters<CreateChannelDialog> 
        { 
            { x => x.ServerId, Server.Id },
            { x => x.PreSelectedCategoryId, categoryId }
        };
        
        var dialog = await DialogService.ShowAsync<CreateChannelDialog>("New Channel", parameters);
        var result = await dialog.Result;

        if (result is { Canceled: false, Data: ChannelDto newChannel })
        {
            ViewModel.AddChannel(newChannel);
        }
    }

    protected async Task OpenCreateCategoryDialog()
    {
        var parameters = new DialogParameters<CreateCategoryDialog> 
        { 
            { x => x.ServerId, Server.Id } 
        };
    
        var dialog = await DialogService.ShowAsync<CreateCategoryDialog>("New Category", parameters);
        var result = await dialog.Result;

        if (result is { Canceled: false, Data: CategoryDto newCategory })
        {
            ViewModel.AddCategory(newCategory);
        }
    }

    protected async Task ConfirmDelete(ISidebarItem item)
    {
        var result = await DialogService.ShowMessageBoxAsync(
            "Warning", 
            $"Are you sure you want to delete {item.DeleteWarningText}?", 
            yesText: "Delete!", cancelText: "Cancel");

        if (result == true)
        {
            switch (item)
            {
                case ChannelDto channel:
                    ViewModel.DeleteChannel(channel.Id);
                    break;
                case CategoryDto category:
                    ViewModel.DeleteCategory(category.Id);
                    break;
            }
        }
    }

    private void OnViewModelStateChanged() => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        ViewModel.StateChanged -= OnViewModelStateChanged;
        ViewModel.Dispose();
    }
}
