@inject IServerApiService ServerApiService
@inject NavigationState NavState
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager
@inject AppState AppState
@using BlazorChat.Client.Core
@using BlazorChat.Client.Features.Servers.Dialogs.AddServer
@using BlazorChat.Client.Features.Servers.Services
@implements IDisposable

<nav class="primary-nav">
    <div class="server-icons-list">
        <MudTooltip Text="Friends" Placement="Placement.Right">
            <div class="server-icon @(NavState.SelectedServer == null ? "active" : "")"
                 @onclick="SelectFriendsAsync">
                <MudIcon Icon="@Icons.Material.Filled.People" />
            </div>
        </MudTooltip>

        <div class="server-divider"></div>

        @foreach (var server in _servers)
        {
            <MudTooltip Text="@server.Name" Placement="Placement.Right">
                <div class="server-icon @(NavState.SelectedServer?.Id == server.Id ? "active" : "")"
                     @onclick="() => SelectServerAsync(server)">
                    @server.Name[0].ToString().ToUpper()
                </div>
            </MudTooltip>
        }
        <div class="server-icons-bottom">
            <MudTooltip Text="Create a Server" Placement="Placement.Right">
                <div class="server-icon add-icon" @onclick="OpenCreateServerModal">
                    <MudIcon Icon="@Icons.Material.Filled.Add" />
                </div>
            </MudTooltip>
        </div>
    </div>
</nav>

@code {
    private List<ServerDto> _servers = [];

    protected override async Task OnInitializedAsync()
    {
        NavState.OnChanged += StateHasChanged;
        
        ServerApiService.OnChanged += OnServersChanged;
        _servers = await ServerApiService.GetAllMyServersAsync();
    }

    private async Task SelectFriendsAsync()
    {
        NavState.SelectServer(null);

        
        var selection = AppState.GetLastSelectedFriend();
        
        if(selection == null)
        {
            NavigationManager.NavigateTo($"/chat/0");
            return;
        }
        var lastChannelId = selection.ChannelId;
    
        NavigationManager.NavigateTo($"/chat/{lastChannelId}");
    }

    private async Task SelectServerAsync(ServerDto server)
    {
        NavState.SelectServer(server);
        var channelId = AppState.GetLastChannelForServer(server.Id) ?? 0;
        NavigationManager.NavigateTo($"/chat/{channelId}");
    }

    private async void OnServersChanged()
    {
        _servers = await ServerApiService.GetAllMyServersAsync();
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        NavState.OnChanged -= StateHasChanged;
        ServerApiService.OnChanged -= OnServersChanged;
    }
    
    private async Task OpenCreateServerModal()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, CloseButton = true };
        var dialog = await DialogService.ShowAsync<CreateServerModal>("Create Server", options);
        var result = await dialog.Result;
        if (result is { Canceled: false, Data: ServerDto newServer })
        {
            Snackbar.Add("Server created!", Severity.Success);
        
            ServerApiService.NotifyServersChanged();
        
            await SelectServerAsync(newServer);
        }
    }
}