@inject IServerRepository ServerRepo
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@implements IDisposable

<nav class="primary-nav">
    <div class="server-icons-list">
        <MudTooltip Text="Friends" Placement="Placement.Right">
            <div class="server-icon @(SelectedServer == null ? "active" : "")"
                 @onclick="() => SelectServer(null)">
                <MudIcon Icon="@Icons.Material.Filled.People" />
            </div>
        </MudTooltip>

        <div class="server-divider"></div>

        @foreach (var server in _servers)
        {
            <MudTooltip Text="@server.Name" Placement="Placement.Right">
                <div class="server-icon @(SelectedServer?.Id == server.Id ? "active" : "")"
                     @onclick="() => SelectServer(server)">
                    @server.Name[0].ToString().ToUpper()
                </div>
            </MudTooltip>
        }
        <div class="server-icons-bottom">
            <MudTooltip Text="Create a Server" Placement="Placement.Right">
                <div class="server-icon add-icon" @onclick="OpenCreateServerModal">
                    <MudIcon Icon="@Icons.Material.Filled.Add" />
                </div>
            </MudTooltip>
        </div>
    </div>
</nav>

@code {
    [Parameter] public ServerDto? SelectedServer { get; set; }
    [Parameter] public EventCallback<ServerDto?> OnServerSelected { get; set; }

    private List<ServerDto> _servers = new();

    protected override async Task OnInitializedAsync()
    {
        ServerRepo.OnChanged += OnServersChanged;
        _servers = await ServerRepo.GetAllAsync();
    }

    private async void OnServersChanged()
    {
        _servers = await ServerRepo.GetAllAsync();
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose() => ServerRepo.OnChanged -= OnServersChanged;

    private async Task SelectServer(ServerDto? server)
    {
        await OnServerSelected.InvokeAsync(server);
    }

    private async Task OpenCreateServerModal()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true, MaxWidth = MaxWidth.ExtraSmall, FullWidth = true, CloseButton = true };
        var dialog = await DialogService.ShowAsync<AddServerModal>("Create Server", options);
        var result = await dialog.Result;
        if (result is { Canceled: false })
        {
            Snackbar.Add("Server created!", Severity.Success);
        }
    }
}
